mux-player::part(bottom rendition menu) {
  /* background-color: #fff; */
  /* --media-menu-item-hover-background: #333;
  --media-menu-item-hover-outline: none; */
  border-radius: 6px;
  padding: 6px;
  right: 50px;
}

/* mux-player::part(menu-item radio) {
  border-radius: 6px;
}

mux-player::part(bottom volume range) {
  background-color: red !important;
}

mux-player {
  --media-menu-gap: 5px;
  --media-menu-item-hover-background: red !important;
}

media-theme {
  --media-menu-item-hover-background: red !important;
}

::slotted(.header) {
  background-color: rebeccapurple !important;
}
[part~="menu"]::part(menu-item) {
  background-color: red !important;
}
media-rendition-menu {
  background-color: red !important;
}

.class,
media-captions-menu,
media-rendition-menu,
media-audio-track-menu,
media-playback-rate-menumedia-chrome-menu-item {
} */

#in {
  position: relative;
}
#in::before {
  --size-one: 45px;
  --size-two: 45px;
    --line:  #e9e9e9;
  
    content: '';
    height: 100%;
    width: 100%;
    /* position: fixed; */
    position: absolute;
    background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size-one)) 50% 50% / var(--size-one) var(--size-one) space, linear-gradient(var(--line) 1px, transparent 1px var(--size-two)) 50% 50% / var(--size-two) var(--size-two) space;
    /* -webkit-mask: linear-gradient(-20deg, transparent 50%, white);
    mask: linear-gradient(-20deg, transparent 50%, white); */
    top: 0;
    /* transform-style: flat; */
    /* pointer-events: none; */
    z-index: -1;
}