mux-player::part(bottom rendition menu) {
  /* background-color: #fff; */
  /* --media-menu-item-hover-background: #333;
  --media-menu-item-hover-outline: none; */
  border-radius: 6px;
  padding: 6px;
  right: 50px;
}

/* mux-player::part(menu-item radio) {
  border-radius: 6px;
}

mux-player::part(bottom volume range) {
  background-color: red !important;
}

mux-player {
  --media-menu-gap: 5px;
  --media-menu-item-hover-background: red !important;
}

media-theme {
  --media-menu-item-hover-background: red !important;
}

::slotted(.header) {
  background-color: rebeccapurple !important;
}
[part~="menu"]::part(menu-item) {
  background-color: red !important;
}
media-rendition-menu {
  background-color: red !important;
}

.class,
media-captions-menu,
media-rendition-menu,
media-audio-track-menu,
media-playback-rate-menumedia-chrome-menu-item {
} */
